In [1]:
#import libaries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#avoid warnings
import warnings
warnings.filterwarnings("ignore")

#import libiary
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,classification_report
from sklearn import datasets

#save model
import joblib

dataset link: https://www.kaggle.com/datasets/mirichoi0218/insurance

In [89]:
#import dataset

dataset = pd.read_csv(r"D:\MACHINE LEARNING\FINAL PROJECT\Dataset\finance\insurance.csv")

In [90]:
#read dataset

dataset.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [91]:
#shape of dataset

dataset.shape

(1338, 7)

In [92]:
#information about dataset

dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [93]:
#describe about dataset

dataset.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [94]:
print(dataset.columns)
dataset.isnull().sum()

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [95]:
#Covert Columns From String ['sex' ,'smoker','region' ] To Numerical Values

dataset["sex"] = dataset["sex"].map({"female":0,"male":1}).astype("int")
dataset["smoker"] = dataset["smoker"].map({"no":0,"yes":1}).astype("int")
dataset['region']=dataset['region'].map({'southwest':1,'southeast':2,'northwest':3,'northeast':4}).astype("int")

In [96]:
dataset.head()

   age  sex     bmi  children  smoker  region      charges
0   19    0  27.900         0       1       1  16884.92400
1   18    1  33.770         1       0       2   1725.55230
2   28    1  33.000         3       0       2   4449.46200
3   33    1  22.705         0       0       3  21984.47061
4   32    1  28.880         0       0       3   3866.85520

In [97]:
#StandardScaler

Scaler=StandardScaler()
x[["bmi"]]=Scaler.fit_transform(x[["bmi"]])
x

      age  sex       bmi  children  smoker  region
0      19    0 -0.453320         0       1       1
1      18    1  0.509621         1       0       2
2      28    1  0.383307         3       0       2
3      33    1 -1.305531         0       0       3
4      32    1 -0.292556         0       0       3
...   ...  ...       ...       ...     ...     ...
1333   50    1  0.050297         3       0       3
1334   18    0  0.206139         0       0       4
1335   18    0  1.014878         0       0       2
1336   21    0 -0.797813         0       0       1
1337   61    0 -0.261388         0       1       3

[1338 rows x 6 columns]

In [98]:
x=dataset.drop(["charges"],axis=1)
y=dataset["charges"]

In [100]:
#train,test split

£x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=.30,random_state=42)

In [110]:
#import the models

from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

#Evaluating the Algorithm
from sklearn import metrics

In [124]:
from sklearn.linear_model import LinearRegression
model1 = LinearRegression()

model1.fit(x_train,y_train)

x_train_pred = model1.predict(x_train)
score1 = metrics.r2_score(x_train_pred,y_train)
print("Accuracy on Training data: ",score1*100 )

x_test_pred = model1.predict(x_test)
score1  = metrics.r2_score(x_test_pred,y_test)
print("Accuracy on Testing data: ",score1*100 )
print()
mae1=metrics.mean_absolute_error(y_test,x_test_pred)
mae1

Accuracy on Training data:  65.27579771684648
Accuracy on Testing data:  69.4979479035194

4155.239843059379

In [125]:
from sklearn.linear_model import LinearRegression
model2 = SVR()
model2.fit(x_train,y_train)

x_train_pred = model2.predict(x_train)
score2 = metrics.r2_score(x_train_pred,y_train)
print("Accuracy on Training data: ",score2*100 )

x_test_pred = model1.predict(x_test)
score2 = metrics.r2_score(x_test_pred,y_test)
print("Accuracy on Testing data: ",score2*100 )
print()
mae2=metrics.mean_absolute_error(y_test,x_test_pred)
mae2

Accuracy on Training data:  -3398981.965717042
Accuracy on Testing data:  69.4979479035194

4155.239843059379

In [126]:
model3 = RandomForestRegressor()
model3.fit(x_train,y_train)

x_train_pred = model3.predict(x_train)
score3 = metrics.r2_score(x_train_pred,y_train)
print("Accuracy on Training data: ",score3*100 )

x_test_pred = model1.predict(x_test)
score3 = metrics.r2_score(x_test_pred,y_test)
print("Accuracy on Testing data: ",score3*100 )
print()
mae3=metrics.mean_absolute_error(y_test,x_test_pred)
mae3

Accuracy on Training data:  97.39137387227437
Accuracy on Testing data:  69.4979479035194

4155.239843059379

In [129]:
model4 = GradientBoostingRegressor()
model4.fit(x_train,y_train)

x_train_pred = model4.predict(x_train)
score4 = metrics.r2_score(x_train_pred,y_train)
print("Accuracy on Training data: ",score4*100 )

x_test_pred = model1.predict(x_test)
score4 = metrics.r2_score(x_test_pred,y_test)
print("Accuracy on Testing data: ",score4*100 )
print()
mae4=metrics.mean_absolute_error(y_test,x_test_pred)
mae4

Accuracy on Training data:  89.07099074657319
Accuracy on Testing data:  69.4979479035194

4155.239843059379

In [130]:
print(score1,score2,score3,score4)
print(mae1,mae2,mae3,mae4)

0.694979479035194 0.694979479035194 0.694979479035194 0.694979479035194
4155.239843059379 4155.239843059379 4155.239843059379 4155.239843059379

i will take LinearRegression

In [131]:
#new data
data = {'age' : 40,
        'sex' : 1,
        'bmi' : 40.30,
        'children' : 4,
        'smoker' : 1,
        'region' : 2}

df = pd.DataFrame(data,index=[0])
df

   age  sex   bmi  children  smoker  region
0   40    1  40.3         4       1       2

In [132]:
new_pred = model1.predict(df)
print("Medical Insurance cost for new : ",new_pred)

Medical Insurance cost for new :  [36760.79807759]

# Save Model Usign Joblib

In [133]:
#save the model

#location => D:\MACHINE LEARNING\FINAL PROJECT\Models\finance

import joblib

joblib.dump(model1,r"D:\MACHINE LEARNING\FINAL PROJECT\Models\finance\Insurance_model.pkl")

['D:\\MACHINE LEARNING\\FINAL PROJECT\\Models\\finance\\Insurance_model.pkl']

In [135]:
#load model

load_model = joblib.load(r"D:\MACHINE LEARNING\FINAL PROJECT\Models\finance\Insurance_model.pkl")

#predication

#new data
data = {'age' : 20,
        'sex' : 0,
        'bmi' : 30.30,
        'children' : 0,
        'smoker' : 0,
        'region' : 1}

df = pd.DataFrame(data,index=[0])
df


new_pred = load_model.predict(df)
print("Medical Insurance cost for new : ",new_pred)

Medical Insurance cost for new :  [2328.44296764]

# Working Sucessfully