In [17]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\welcome\appdata\local\programs\python\python311\lib\site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\welcome\appdata\local\programs\python\python311\lib\site-packages (from mysql-connector-python) (3.20.3)

In [20]:
!pip install mysqlclient

Collecting mysqlclient
  Downloading mysqlclient-2.1.1-cp311-cp311-win_amd64.whl (178 kB)
     ------------------------------------ 178.4/178.4 kB 298.8 kB/s eta 0:00:00
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.1.1

In [21]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.3-py3-none-any.whl (43 kB)
     -------------------------------------- 43.7/43.7 kB 126.4 kB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.0.3

In [27]:
import mysql.connector as connector

In [29]:
#create connection
db = connector.connect(host="localhost",user="root",password="1234")
print("connection established",db)

connection established <mysql.connector.connection_cext.CMySQLConnection object at 0x0000024E3D3483D0>

In [31]:
#create cursor

cursor = db.cursor()
cursor.execute("create database marklist")
print("Database Created")

Database Created

In [32]:
#view available database

cursor.execute("show databases")
for i in cursor:
    print(i)

('information_schema',)
('marklist',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [33]:
#use databasee

cursor.execute("use marklist")
print("success")

success

In [35]:
#create table

cursor.execute("create table maths (name varchar(255), marks int)")

In [37]:
#insert record

sql="insert into maths (name,marks) values(%s, %s)"

val=("aravindh",21)

cursor.execute(sql,val)

db.commit()

In [40]:
#insert multiple record

sql="insert into maths (name,marks) values(%s, %s)"

val=[("aravindh",21),("ram",21),("sethu",21),("deepak",21),("kumar",21)]

cursor.executemany(sql,val)

db.commit()

In [43]:
#display

cursor.execute("select * from maths")

result = cursor.fetchall()

for i in result:
    print(i)

('aravindh', 21)
('aravindh', 21)
('ram', 21)
('sethu', 21)
('deepak', 21)
('kumar', 21)

In [45]:
 #use filter

cursor.execute("select * from maths where name='aravindh' ")
result = cursor.fetchall()

for i in result:
    print(i)

('aravindh', 21)
('aravindh', 21)

In [46]:
#update

cursor.execute("update maths set marks = 90")
db.commit()

In [48]:
#update

cursor.execute("update maths set marks = 100 where name='sethu'")
db.commit()

In [50]:
#delete

cursor.execute("delete from maths where name='aravindh'")
db.commit()

In [51]:
#delete table

cursor.execute("drop table maths")