In [2]:
!pip install beautifulsoup4

Requirement already satisfied: beautifulsoup4 in c:\users\welcome\anaconda3\lib\site-packages (4.11.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\welcome\anaconda3\lib\site-packages (from beautifulsoup4) (2.3.1)

In [9]:
from bs4 import BeautifulSoup

#get html of a website
import requests
import lxml

#store into csv file
import csv
file = open("moviesdata.csv","w")
writer = csv.writer(file)
writer.writerow(["Movie Name","Year","Duration","Rating"])

33

In [12]:

pages=[0,100,200,300,400,500,600,700,800,900]
for page in pages:
    url=f"https://www.imdb.com/search/title/?groups=top_1000&sort=user_rating,desc&count=100&start={page}&ref_=adv_nxt"
    #get html code using requests
    html = requests.get(url,"lxml").text
    
    soup = BeautifulSoup(html)
    
    divide = soup.find_all("div",class_="lister-item mode-advanced")
    
    for div in divide:
        movie = div.h3.a.text
        year = div.h3.find("span",class_="lister-item-year text-muted unbold").text.replace("(","").replace(")","")
        runtime = div.p.find("span",class_="runtime").text
        rating = div.find("div",class_="inline-block ratings-imdb-rating").text.strip()
        writer.writerow([movie,year,runtime,rating])
        
file.close()

In [19]:
import pandas as pd

df=pd.read_csv("moviesdata.csv",encoding="latin_1")
df.head()

                                      Movie Name  Year Duration  Rating
0                       The Shawshank Redemption  1994  142 min     9.3
1                                  The Godfather  1972  175 min     9.2
2                                The Dark Knight  2008  152 min     9.0
3                               Schindler's List  1993  195 min     9.0
4  The Lord of the Rings: The Return of the King  2003  201 min     9.0

In [21]:
df.shape

(1000, 4)